:root
{
    /* Colors */
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-lightgray: #f5f5f5;
  --basic-gray: #4f4f4f;
  --basic-darkgray: #333333;
  --basic-lightgreen: #8dc63f;
  --basic-green: #59aa47;
  --basic-darkgreen: #468638;
  --basic-background: #f9f9f9;
  --background-image-color: #e0e0e0;
  --underline-footer: #bdbdbd;
  --list-numbering: #fafafa;
  --gray: #828282;

    /* Font */
  --main-font-stack: "Montserrat", sans-serif;
  --title-font-stack: "Phenomena", sans-serif;
  --additional-font-stack: "Segoe UI", sans-serif;
}
