.header__logo {
  margin-right: 103px;
}

@media screen and (max-width: 1400px) {
  .header__logo {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .header__logo {
    padding: 16px 5px;
    margin-right: 0;

    &.search_active {
      display: none;
    }
  }
}